.profile__image {
    &--backsplash {
        position: absolute;
        width: calc(120% + 20vw);
        z-index: -1;
        top: calc(-2rem - 8vw);
        left: -4rem;

        & div,
        & img {
            width: 100%;
        }
    }

    &--square {
        position: relative;
        z-index: 1;
        width: 240px;
        height: 240px;
        margin-left: $space-double;
        margin-bottom: $space-double;
    }
}

.position {
    color: clr(lehigh);
    font-weight: 500;
}

.profile__contact {
    @include margin;
}

.cas_profile__node {
    position: relative;
    background-color: white;
    max-width: 800px;
    margin-top: calc(4rem + 8vw);
    padding: $space-double;

    & .h1--page-title {
        color: clr(lehigh);
    }
}
.profile__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $space-double;
    margin-bottom: $space-quadruple;
    background: white;

    & .info-wrapper {
        flex: 1 0 240px;
    }
}

.ed-wrapper {
    display: flex;
    gap: $space-one-half;
    font-size: 0.75rem;

    & .label {
        font-weight: bold;
    }
}

.field--icon.field--profile {
    color: clr(accent-light);
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
}

.field-tabs {
    @include margin;

    display: flex;
    gap: $space;

    & .profile-button {
        // @include outline(lehigh);

        // box-shadow: inset 0 0 1px 0px clr(lehigh);
        // background-color: white;
        // color: clr(lehigh);
        // cursor: pointer;

        & a {
            @include no-dec;
            @include outline(lehigh);

            box-shadow: inset 0 0 1px 0px clr(lehigh);
            background-color: white;
            color: clr(lehigh);
            cursor: pointer;
            display: block;
            padding: 0.5rem;
            color: clr(lehigh);
        }
        &:hover a {
            background-color: clr(lehigh);
            color: white;
        }
    }
}
#field-tabs,
.field-tabs {
    @include margin;

    display: flex;
    flex-wrap: wrap;
    gap: $space;

    & .profile-button a,
    button.profile-button {
        all: unset;

        @include no-dec;
        @include outline(lehigh);

        box-shadow: inset 0 0 1px 0px clr(lehigh);
        background-color: white;
        color: clr(lehigh);
        cursor: pointer;
        display: block;
        padding: 0.5rem;
        color: clr(lehigh);
    }
    & a:hover,button.profile-button:hover {
        background-color: clr(lehigh);
        color: white;
    }
}

.tab-content {
    display: none;
    
    &.visible {
        display: block;
    }
}
