.lightbox {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .33);
    backdrop-filter: brightness(0.8) blur(4px);
    z-index: 999;

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 6rem;
        max-height: 90vh;
        max-width: 860px;
        overflow-y: scroll;
        border-radius: 5px;
    }

    &--visible {
        display: block;
    }

    &-close {
        position: absolute;
        z-index: 1;
        top: $space-one-half;
        right: $space-one-half;

        & button {
            font-size: 4rem;
            color: clr(accent-readable);
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            transition: 0.05s;

            &:hover {
                font-size: 5rem;
            }
        }
    }
}
