{% set banner__base_class = 'banner' %}

<div {{ bem(banner__base_class) }}>
    <div {{ bem('inner', [], banner__base_class)}}>
    {% block banner_content %}
        {% include "@atoms/text/headings/_heading.twig" with {
            "heading_level": 1,
            "heading": title,
            "heading_modifiers": "page-title",
        } %}
        {% include '@molecules/menus/breadcrumbs/breadcrumbs.twig' %}
    {% endblock %}
    </div>
</div>