.link-list {
    position: relative;
}

.link-list-content {
    display: block;
    background-color: clr(text-inverse);
    padding: $space-triple;
    position: relative;
    z-index: 1;
    margin: $space-quadruple 0;


    & .link {
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
    }

    & a:hover .link {
        text-decoration: underline;
        color: clr(accent-readable);
    }

    & .link-list__external {
        @include transition();

        font-size: .75rem;
        color: clr(text-lighter);
        text-decoration: none;

        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 2rem;
            height: .5px;
            margin-right: .5rem;
            background: clr(text-lighter);
        }
    }
    & .link__decor--link-list-content {
        height: 1.5em;
        width: 1.5em;
        vertical-align: top;
    }

    &-list {
        display: grid;
        grid-gap: 0 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(86px, max-content);

        & a {
            position: relative;
            padding: 1.25rem 0.5rem;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid clr(goblet-gray);


            &:hover {
                background: clr(highlight-high);

                & .link-list__external {
                    transform: translateX(1rem);
                }
            }
        }
    }
    &--dark {
        background-color: clr(background-dark);
        color: clr(text-inverse);
    
        & h2, & .link, & .link-list__external {
            color: clr(text-inverse);
        }

        & .link-list__external::before {
            background-color: clr(text-inverse);
        }
        & .link-list-content-list a:hover {
            background-color: clr(text-light);
        }
    }
}
