.captioned-media {
    margin: 2rem 0;

    &__decor-wrap {
        position: relative;
        margin: 1rem 0;
    }

    & img {
        position: relative;
        z-index: 1;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    }

    & .caption {
        font-size: .75rem;
        color: clr(text-lighter);
        font-style: italic;
        margin-top: 2.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid clr(goblet-gray);
        
    }
}

.field__hero {
    @include large() {
        width: 120%;
        max-width: calc(60vw - 4rem);
        margin-top: -2rem;
    }
}