@mixin link-style() {
    & a, button {
        @include no-dec();
        @include allcaps();

        font-size: .625rem;
        color: clr(text);
        font-weight: bold;

        &:hover {
            color: clr(accent);
            cursor: pointer;
        
            &:after {
                transform: translateX($space-one-third);
            }
        }

        &:after {
            @include transition();

            content: "\2192";
            position: relative;
            display: inline-block;
            color: clr(accent);
            font-size: 1.5em;
            margin: 0 0.5rem;
        }
    }
    &--vertical a, button {
        &:after {
            content: '\2193';
        }
        &:hover:after {
            transform: translateY($space-one-fourth);
        }
    }
}

@mixin button-style() {

    @include link-style();

    a, button {
        @include outline(accent, 1px);
        border-radius: 0;
        background: none;
        display: inline-block;
        padding: $space-one-half $space-one-half $space-one-half $space;
    }
}

.simple-link {
    @include link-style();
}

.simple-button {
    @include button-style();
}