{% if icon %}
    {% set location_modifiers = location_modifiers|merge(['icon']) %}
    <div {{ bem('location', location_modifiers) }} >
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: "location",
            icon_blockname: "field",
            icon_modifiers: ["location"],
        } %}
        {{ location|raw }}
    </div>
{% endif %}