.topnav-menu {
    @include list-reset;
    @include overline(background-gg);

    @include large() {
      display: flex;
    }
    
    border-width: 2px;
    display: none;
    justify-content: start;

  }
  
  .topnav-menu__item {
    margin-right: 6%;
    height: 2em;
    display: flex;

    @include large {
        margin-bottom: 1em;
    }
  }
  
  .topnav-menu__link {
    @include link;
    
    color: clr(lehigh);
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: .25px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;

    &:hover {
      text-decoration: underline;
    }
  }