.topnav-menu {
  @include large() {
    display: flex;
  }

  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
  
  .topnav-menu__item {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .topnav-menu__link {
    @include link;
    
    color: clr(lehigh);
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: .25px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;

    &:hover {
      text-decoration: underline;
    }
  }