{% if not (decor_modifiers) %}
    {% set decor_modifiers = [] %}
{% endif %}

{% if (pattern and pattern2) %}
    <div {{ bem('decor', ['top', pattern]|merge(decor_modifiers), decor_blockname) }}>
        {% include '@atoms/images/icons/decor/_' ~ pattern ~ '.twig' %}
    </div>
    <div {{ bem('decor', ['bottom', pattern2]|merge(decor_modifiers), decor_blockname) }}>
        {% include '@atoms/images/icons/decor/_' ~ pattern2 ~ '.twig' %}
    </div>
{% elseif (pattern) %}
    <div {{ bem('decor', ['full', pattern]|merge(decor_modifiers), decor_blockname) }}>
        {% include '@atoms/images/icons/decor/_' ~ pattern ~ '.twig' %}
    </div>
{% endif %}