.decor {
    position: absolute;
    z-index: -1;
    top: -$space-double;
    left: -$space-double;
    width: calc(100% + #{$space-quadruple});
    height: calc(100% + #{$space-quadruple});
    max-width: none;
    color: clr(background-gg);
    fill: currentColor;
    stroke: currentColor;
    
    &--accent {
        color: clr(accent);
        stroke: currentColor;
        fill: currentColor;

        & line {
            fill: none;
        }
        & circle {
            stroke: none;
        }
    }
    &--slash {
        stroke: none;

        & line {
            stroke: currentColor;
        }
    }
    &--top {
        @include small() {
            display: block;
        }

        width: calc(20% + #{$space-double});
        height: calc(30% + #{$space-double});
    }

    &--bottom {
        @include small() {
            display: block;
        }

        bottom: -$space-double;
        right: -$space-double;
        top: unset;
        left: unset;
        width: calc(20% + #{$space-double});
        height: calc(30% + #{$space-double});
    }

    &--dots {
        stroke: none;
    }

}

.link__decor--external {
    stroke: currentColor;
    fill: none;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    
    .arrow-head, .arrow-shaft, .arrow-box {
        transform: translate(0, 0);
        transition: transform .2s;
    }

    .external:hover & .arrow-head, .external:hover & .arrow-shaft {
        transform: translate(1px, -1px);
    }
    .external:hover & .arrow-box {
        transform: translate(-1px, 1px);
    }
}