@mixin icon {
    &__icon{
        position: absolute;
        top: -$space;
        left: -$space;
        z-index: 0;
        stroke: clr(accent);
        fill: clr(accent);

        &--double-bottom {
            bottom: $space;
            right: -$space;
            top: unset;
            left: unset;
        }
    }    
}