// comment

.simple-event {

    .simple-event-wrapper{
        border: 2px solid clr(goblet-gray);
        display: flex;
        gap: $space-double;
        margin-bottom: 50px;
        padding: 25px;
        flex-wrap: wrap;
    }

    .simple-event-image{
        flex: 1 0 180px;
        //max-width: 250px;
        //width: 33%


        img {
            width: 100%

        }
        
    }
    .simple-event-side-text{
        flex: 1 1 400px;
    }

    .event-title{
        @include heading-medium;
    }

    .simple-event-special-info{
        // a comment
        display:block;
    }


    .simple-event-location,
    .simple-event-location div    {
        display: inline-block;
    }   

    .simple-event-body{
        margin-top: 30px;
    }

    .simple-event-map{
        width: 100%;

    }

}