.callouts {
    position: relative;

}

.callout {
    display: block;
    background-color: clr(background-neutral);
    padding: $space $space-triple;
    position: relative;
    z-index: 1;
    margin: $space-triple 0;

    &__icon{
        position: absolute;
        top: -$space-double;
        left: -$space-double;
        z-index: 0;
        fill: clr(lehigh);
        stroke: clr(lehigh);

        &--single {
            width: calc(100% + #{$space-quadruple});
            height: calc(100% + #{$space-quadruple});
            max-width: none;
            stroke: none;
            fill: clr(background-gg);
            stroke: clr(background-gg);
        }

        &--double-bottom {
            bottom: 0;
            right: -$space-double;
            top: revert;
            left: revert;
        }

        &--accent {
            stroke: clr(accent);
            fill: clr(accent);
        }
    }

    & .img-left, & .img-right {
        flex: 1 0 200px;
        max-width: 300px;
    }

    &--dark {
        background-color: clr(background-dark);

        & .simple-button a, & .simple-link a {
            color: clr(text-inverse);

            &:hover {
                color: clr(accent-dark-bg);
            }
        }
    }

    &--overline {
        border-top: $space-one-half solid clr(accent);
    }


    &-flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $space-double;
        padding-bottom: $space-double;

        & img {
            max-height: 240px;
            object-fit: contain;

        }
        & .img-left img {
            object-position: left;
        }
        & .img-right img {
            object-position: right;
        }
        
    }

    &__h3 {
        @include heading-large;
        @include sans;

        margin: 1.5rem 0;
    
        .callout--dark & {
            color: clr(text-inverse);
        }

        .callout--accent & {
            color: clr(accent-readable);

            &.callout-dark {
                color: clr(accent-dark-bg);
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: $space;
        flex: 1 0 240px;

        .callout--dark & {
            color: clr(text-inverse);
        }
    }

}