
.sidebar__apply-now-wrapper{
    @include outline(background-gg);

    padding: 2rem;
    margin-bottom: 3rem;

    @include large { 
        max-width: 300px;
    }
}


.sidebar__apply-now{

    img {
        padding-bottom: 2rem;
        margin:auto;
        object-fit: cover;
        max-height: 300px;

        @include large { 
            max-height: 200px;
        }
    }

    p {
        font-size: .75rem;
    }

    .h4--apply-now-title{
        color: clr(text-lighter);
        font-size:1.1rem;
    }

}