.accordion {
    margin-bottom: $space-quadruple;
}

.toggle-bar {
    @include allcaps;
    @include underline(goblet-gray);
    @include margin;

    font-size: 0.75rem;
    color: clr(text-lighter);
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    & .toggle-sign {
        @include transition;

        transform: rotateZ(45deg);
        font-size: 3rem;
        line-height: 1rem;
        font-weight: 100;
        user-select: none;
    }

    &.open .toggle-sign {
        transform: rotateZ(0deg);
    }

}
.accordion-content {
    @include transition;

    overflow: hidden;
    opacity: 1;

    &.v-hidden {
        height: 0 !important;
        opacity: 0;
    }
}