.announcement {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    @include underline(goblet-gray);

    &__image {
        flex: 0 0 204px;

        & img {
            width: 204px;
            height: 204px;
            object-fit: cover;
        }

        &--full {
            position: relative;
            margin-bottom: $space-quadruple;

            & img {
                width: 100%;
                max-height: 480px;
                height: unset;
                @include shadow();
            }
        }
    }

    &__text-wrapper {
        flex: 1 1 400px;
        margin-bottom: 2rem;
    }

    &__date {
        @include allcaps();
        font-size: .75rem;
        color: clr(accent-readable);
        margin-bottom: $space-one-half;
    }
}