.logo__image {
    height: 100%;
    display: block;
}

.lehighlogo {
    height: 2.5rem;
    position: relative;
    margin-bottom: -2px;

    & a img {
        @include underline(lehigh, 2px);
        @include space-reset();

        border-color: transparent;
        padding: .35rem 0;

        &:hover {
            border-color: clr(lehigh);
        }
    }

    &::after {
        @include abs-center-y();
        
        right: -1em;
        content: '';
        display: block;
        height: calc(100% - 0.75rem);
        width: 1px;
        background-color: clr(lehigh);
    }

}