// comment

.calendar-event {

    .calendar-event-wrapper{
        border: 2px solid clr(goblet-gray);
        display: flex;
        gap: $space-quadruple;
        margin-bottom: 50px;
        padding: 40px;
        flex-wrap: wrap;
    }

    .calendar-event-image{
        flex: 1 0 100px;
        //max-width: 250px4
        //width: 33%
        
        .field--placeholder-calendar{
            justify-content: center;
            background-color: clr(background-neutral);
            width:100%;
        }

        svg{
            width: 25%;
            height: auto;
            fill: none;
            stroke: clr(accent);
            stroke-width: .5px;
            margin: auto;
            

        }

        img {
            width: 100%
        }
        
    }
    .calendar-event-side-text{
        flex: 1 1 600px;
    }

    .event-title{
        @include heading-medium;
    }

    .calendar-event-special-info{
        display:block;
    }


    .calendar-event-location,
    .calendar-event-location div    {
        display: inline-block;
    }   

    .lehigh-calendar-event-link a.link{
        //comment
        @include allcaps;
        text-decoration: none;
    }

    .calendar-event-body{
        margin-top: 30px;
    }

    .calendar-event-map{
        width: 100%;

    }

}