/*
 * General Layout
*/

$sidebar-width: minmax(300px, 25%);
$gutter: $space-sextuple;
$main-width: calc(100% - (33% + #{$gutter}));

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/

// .main {
//   @include wrapper;

//   margin-bottom: 4em;

//   @include large {
//     display: flex;
//   }
// }

// .main-sidebar {
//   margin-bottom: $space-double;

//   @include large {
//     // order: 2;
//     width: $sidebar-width;
//     margin-bottom: 0;
//   }
// }

// .main-content {
//   width: 100%;

//   @include large {
//     &--with-sidebar {
//       // margin-right: $gutter;
//       margin-left: $gutter;
//       width: $main-width;
//     }
//   }
// }

/*
 * Layout Using CSS Grid (NO IE11 support)
 * Remove Flexbox code above and uncomment this section to use CSS Grid.
*/

 .main {
  @include wrapper;

  margin-bottom: 4em;
  margin-top: $space-triple;

  &--with-sidebar {
    @include large {
      display: grid;
      grid-gap: calc( #{$gutter} - 2rem);
      grid-template-areas: "sidebar content";
      grid-template-columns: #{$sidebar-width} $main-width;
    }
  }
}

.main-sidebar {
  grid-area: sidebar;
  margin-bottom: $space-double;
  max-width: 480px;

  @include large() {
    padding-right: 2rem;
    position: relative;
    
    &::after {
      content: "";
      background-color: clr(goblet-gray);
      position: absolute;
      top: 0;
      right: 0;
      max-height: 80vh;
      height: 100%;
      width: 1px;
    }
  }


}

.main-content {
  grid-area: content;
  max-width: 800px;
  
  & #block-precontent {
    @include underline(goblet-gray);
    @include margin();
  }

  & .text-long {
    @include medium {
      margin-left: $space-quadruple;
    }
  }
} 

#sidebar {
  position: relative;
  height: 100%;
}

#block-pagelabel {
  @include underline(background-gg);

  margin-bottom: $space-double;
  padding-bottom: $space-double;
}